{# purpose of this template: gridstack playground #}
{% extends routeArea == 'admin' ? 'ZikulaContentModule::adminBase.html.twig' : 'ZikulaContentModule::base.html.twig' %}
{% block title %}{{ page|zikulacontentmodule_formattedTitle|default(__('Page')) }} - {{ __('Manage content') }}{% endblock %}
{% block admin_page_icon 'cubes' %}
{% block content %}
    {{ zikulacontentmodule_getPagePath(page, false) }}
    {# gridstack.js reference docs: https://github.com/gridstack/gridstack.js/tree/develop/doc #}
    {% set widgetDimensions = {width: 4, minWidth: 2, height: 2} %}
    <div class="zikulacontentmodule-page zikulacontentmodule-managecontent">
        <p class="alert alert-info">{{ __('Here you manage the content of this page. You can add/edit/delete content as well as drag the content boxes around to get the layout right. Click on the arrow next to the title for the actions on that content item.') }}</p>
        <div class="btn-toolbar">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" id="addSection" title="{{ __('Add another section') }}"><i class="fa fa-plus-circle"></i> {{ __('Add another section') }}</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" id="savePage"><i class="fa fa-download"></i> Save page</button>
                <button type="button" class="btn btn-default" id="loadPage" disabled="disabled"><i class="fa fa-upload"></i> Load page</button>
                <button type="button" class="btn btn-default" id="clearPage" disabled="disabled"><i class="fa fa-trash-o"></i> Clear page</button>
            </div>
        </div>
        <br />
        <div id="editFrame" class="row">
            <div class="col-sm-4 col-md-3">
                {{ include('@ZikulaContentModule/Page/palette.html.twig') }}
            </div>
            <div class="col-sm-8 col-md-9">
                <div id="widgets" class="container-fluid"></div>
                    <hr />
                    <pre id="debugSavedData" cols="100" rows="10" readonly="readonly"></pre>
                <div id="widgetDimensions" data-width="{{ widgetDimensions.width }}" data-minwidth="{{ widgetDimensions.minWidth }}" data-height="{{ widgetDimensions.height }}" class="hidden"></div>
            </div>
        </div>
        <div id="translationState" data-enabled="1"></div>{# TODO enabled in Settings module and page language != current language #}
    </div>
    <div id="contentItemEditingModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{ __('Close') }}"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnSaveContent" class="btn btn-success" data-dismiss="modal"><i class="fa fa-floppy-o"></i> {{ __('Save') }}</button>
                    <button type="button" id="btnDeleteContent" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-trash-o"></i> {{ __('Delete') }}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> {{ __('Cancel') }}</button>
                </div>
            </div>
        </div>
    </div>

    {# required for dynamic activation of Scribite for modal content #}
    {% set hooks = notifyDisplayHooks(eventName='zikulacontentmodule.ui_hooks.contentitems.form_edit', id=null, outputAsArray=true) %}
    {% if hooks is iterable and hooks|length > 0 %}
    <div class="hidden">
        {% for area, hook in hooks %}
            <div class="z-displayhook" data-area="{{ area|e('html_attr') }}">{{ hook|raw }}</div>
        {% endfor %}
    </div>
    {% endif %}

    {% set customScript %}
        <script>
        /* <![CDATA[ */

            var pageId = 7;
            var serialisedData = [
                { id: 'section1', widgets: [
                    { id: 12, x: 0, y: 0, width: 3, minWidth: {{ widgetDimensions.minWidth }}, typeClass: 'Zikula\\ContentModule\\ContentType\\AuthorType', height: {{ widgetDimensions.height }}, panelClass: 'primary', title: '<i class="fa fa-address-card"></i> Author info' },
                    { id: 34, x: 4, y: 0, width: {{ widgetDimensions.width }}, minWidth: {{ widgetDimensions.minWidth }}, typeClass: 'Zikula\\ContentModule\\ContentType\\HtmlType', height: {{ widgetDimensions.height }}, panelClass: 'warning', title: '<i class="fa fa-code"></i> HTML (only guests)' },
                    { id: 56, x: 8, y: 0, width: {{ widgetDimensions.width }}, minWidth: {{ widgetDimensions.minWidth }}, typeClass: 'Zikula\\ContentModule\\ContentType\\HeadingType', height: {{ widgetDimensions.height }}, panelClass: 'danger', title: '<i class="fa fa-newspaper-o"></i> News (inactive)' },
                ]},
                { id: 'section2', widgets: [
                    { id: 78, x: 0, y: 0, width: {{ widgetDimensions.width }}, minWidth: {{ widgetDimensions.minWidth }}, typeClass: 'Zikula\\ContentModule\\ContentType\\VimeoType', height: {{ widgetDimensions.height }}, panelClass: 'success', title: '<i class="fa fa-vimeo"></i> Vimeo (only users)' },
                    { id: 90, x: 3, y: 2, width: {{ widgetDimensions.width }}, minWidth: {{ widgetDimensions.minWidth }}, typeClass: 'Zikula\\ContentModule\\ContentType\\YouTubeType', height: {{ widgetDimensions.height }}, panelClass: 'info', title: '<i class="fa fa-youtube"></i> YouTube Video' }
                ]}
            ];

            var gridOptions = {
                acceptWidgets: true,
                alwaysShowResizeHandle: /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent),
                animate: true,
                placeholderText: '<img src="{{ asset('bundles/core/images/admin.png') }}" alt="Zikula" width="48" height="48" />',
                resizable: {
                    handles: 'e, w'
                },
                draggable: {
                    cursor: 'move',
                    scroll: true
                }
            };
        /* ]]> */
        </script>
    {% endset %}
    {{ pageAddAsset('footer', customScript) }}
{% endblock %}
{% block footer %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@ZikulaContentModule:js/ZikulaContentModule.Validation.js'), 98) }}
    {{ pageAddAsset('javascript', zasset('@ZikulaContentModule:js/ZikulaContentModule.EditFunctions.js'), 99) }}
    {{ pageAddAsset('stylesheet', zasset('@ZikulaContentModule:js/vendor/gridstack.js/gridstack.min.css'), 111) }}
    {{ pageAddAsset('javascript', zasset('@ZikulaContentModule:js/vendor/lodash/lodash.min.js'), 10) }}
    {{ pageAddAsset('javascript', zasset('@ZikulaContentModule:js/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js'), 100) }}
    {{ pageAddAsset('javascript', zasset('@ZikulaContentModule:js/vendor/gridstack.js/gridstack.min.js'), 111) }}
    {{ pageAddAsset('javascript', zasset('@ZikulaContentModule:js/vendor/gridstack.js/gridstack.jQueryUI.min.js'), 112) }}
    {{ pageAddAsset('stylesheet', zasset('@ZikulaContentModule:css/pageedit.css'), 130) }}
    {{ pageAddAsset('javascript', zasset('@ZikulaContentModule:js/ZikulaContentModule.PageEditing.js'), 130) }}
{% endblock %}
