{# purpose of this template: gridstack playground #}
{% extends routeArea == 'admin' ? 'ZikulaContentModule::adminBase.html.twig' : 'ZikulaContentModule::base.html.twig' %}
{% block title %}{{ page|zikulacontentmodule_formattedTitle|default(__('Page')) }} - {{ __('Translate') }}{% endblock %}
{% block admin_page_icon 'language' %}
{% block content %}
    {{ zikulacontentmodule_getPagePath(page, false) }}
    <div class="zikulacontentmodule-page zikulacontentmodule-translate">
        <p>Test test</p>
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    {# TODO { pageAddAsset('javascript', zasset('@ZikulaContentModule:js/ZikulaContentModule.Validation.js'), 98) }}
    {{ pageAddAsset('javascript', zasset('@ZikulaContentModule:js/ZikulaContentModule.EditFunctions.js'), 99) }#}
{% endblock %}
