<ol class="breadcrumb">
    {% if includeHome %}
        <li><a href="{{ pagevars.homepath }}" title="{{ __('Home', 'zikula') }}">{{ __('Home', 'zikula') }}</a></li>
    {% endif %}
    {% for page in pages if zikulacontentmodule_hasReadAccess(page) %}
        <li{% if page.id == currentPageId %} class="active"{% endif %}>
            {% set pageTitle = page|zikulacontentmodule_formattedTitle %}
            <a href="{{ path('zikulacontentmodule_page_display', {slug: page.slug}) }}" title="{{ pageTitle|e('html_attr') }}">{{ pageTitle }}</a>
        </li>
    {% endfor %}
</ol>
