<div class="content-googleroute row hidden" data-mapid="map{{ contentId }}" data-latitude="{{ latitude }}" data-longitude="{{ latitude }}" data-zoom="{{ zoom }}" data-maptype="{{ mapType }}" data-markertitle="{{ __('Destination address') }}" data-destinationaddress="{{ addressText|e('html_attr') }}">
    <div class="col-sm-7">
        <h3>{{ topText }}</h3>
        <div class="form-group">
            <label for="fromAddress{{ contentId }}" class="control-label">Ihre Adresse:</label><br />
            <div class="input-group">
                <input type="text" id="fromAddress{{ contentId }}" name="from" value="" maxlength="255" class="form-control" />
                <span class="input-group-btn">
                    <button type="button" id="startCalc{{ contentId }}" class="btn btn-default"><i class="fa fa-map-signs"></i> {{ __('Calculate route!') }}</button>
                </span>
            </div>
            <small class="help-block">{{ __('Street (optional), Location, Country (optional)') }}</small>
        </div>
        <br /><br />
        <div id="map{{ contentId }}" class="map" style="width: 100%; height: {{ height }}px"></div>
        <p class="content-description">{{ bottomText }}</p>
        <div id="warningsPanel{{ contentId }}" class="alert alert-warning hidden"></div>
    </div>
    <div id="directions{{ contentId }}" class="col-sm-5 hidden map-directions">
    </div>
</div>
<noscript>
    <p><img src="https://maps.google.com/maps/api/staticmap?size=600x{{ height }}&amp;maptype={{ mapType }}&amp;center={{ latitude }},{{ longitude }}&amp;markers={{ latitude }},{{ longitude }}&amp;zoom={{ zoom }}&amp;key={{ getModVar('ZikulaContentModule', 'googleMapsApiKey', '') }}" alt="{{ topText|e('html_attr') }}" title="{{ topText|e('html_attr') }}" class="img-responsive" /></p>
</noscript>
