{% if videoId|default %}
{% set ytUrl = 'https://www.youtube.com/' %}
{% set ncUrl = 'https://www.youtube-nocookie.com/' %}
{% set ytHost = noCookie ? ncUrl : ytUrl %}
{% set videoUrlParameters = '&rel=' ~ (showRelated ? '1' : '0') ~ '&autoplay=' ~ (autoplay ? '1' : '0') %}
{% set videoUrlLink = ytUrl ~ 'watch?v=' ~ videoId ~ videoUrlParameters %}
<div class="content-video content-youtube">
    {% if displayMode == 'inline' %}
        <div class="embed-responsive embed-responsive-{#16by9#}4by3">
            <iframe class="embed-responsive-item" src="{{ ytHost|e('html_attr') }}embed/{{ videoId|e('html_attr') }}?feature=player_detailpage{{ videoUrlParameters|e('html_attr') }}" frameborder="0" webkitallowfullScreen mozallowfullscreen allowfullscreen seamless></iframe>
        </div>
        <p><small>{% if text|default %}{{ text|nl2br|safeHtml }}&nbsp;|&nbsp;{% endif %}<a href="{{ videoUrlLink|e('html_attr') }}"{% if text|default %} title="{{ text|striptags|e('html_attr') }}"{% endif %}>youtube.com</a></small></p>
    {% else %}
        <div class="text-center">
            <p>
                <a href="{{ videoUrlLink|e('html_attr') }}"{% if text|default %} title="{{ text|striptags|e('html_attr') }}"{% endif %} data-toggle="modal" data-target="#content{{ contentId }}Modal"><img src="https://img.youtube.com/vi/{{ videoId|e('html_attr') }}/hqdefault.jpg" alt="{% if text|default %}{{ text|striptags|e('html_attr') }}{% else %}{{ __('Video') }}{% endif %}" class="img-responsive" style="margin: 0 auto" /></a>
            </p>
            {% if text|default %}<p><small>{{ text|nl2br|safeHtml }}</small></p>{% endif %}
            <p><a href="{{ videoUrlLink|e('html_attr') }}"{% if text|default %} title="{{ text|striptags|e('html_attr') }}"{% endif %} class="btn btn-default" data-toggle="modal" data-target="#content{{ contentId }}Modal"><i class="fa fa-play-circle-o fa-3x"></i><br />{{ __('Play video') }}</a></p>
        </div>
        <div class="modal fade" id="content{{ contentId }}Modal" tabindex="-1" role="dialog"{% if text|default %} aria-labelledby="content{{ contentId }}ModalLabel"{% endif %} data-backdrop="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="{{ __('Close') }}"><span aria-hidden="true">&times;</span></button>
                        {% if text|default %}
                            <h4 class="modal-title" id="content{{ contentId }}ModalLabel">{{ text|striptags }}</h4>
                        {% endif %}
                    </div>
                    <div class="modal-body">
                        <div class="embed-responsive embed-responsive-{#16by9#}4by3">
                            <iframe class="embed-responsive-item" src="{{ ytHost }}embed/{{ videoId|e('html_attr') }}" frameborder="0" webkitallowfullScreen mozallowfullscreen allowfullscreen seamless></iframe>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Close') }}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endif %}
