{# purpose of this template: pages change history view #}
{% extends routeArea == 'admin' ? '@ZikulaContentModule/adminBase.html.twig' : '@ZikulaContentModule/base.html.twig' %}
{% macro outputSimpleValue(input) %}
    {{ input is zikulacontentmodule_instanceOf('DateTimeInterface') ? input|format_datetime('long', 'medium') : input|default('an empty value'|trans) }}
{% endmacro %}
{% macro outputArray(input, keysAreLanguages) %}
    <ul>
        {% for key, value in input %}
            <li><span class="font-weight-bold">{{ keysAreLanguages ? key|language_name : key|humanize }}:</span> {% if value is iterable %}{{ _self.outputArray(value, false) }}{% else %}<span class="font-italic">{{ value }}</span>{% endif %}</li>
        {% endfor %}
    </ul>
{% endmacro %}
{% block title isDiffView == true ? 'Compare versions of %entityTitle%'|trans({'%entityTitle%': page|zikulacontentmodule_formattedTitle}) : 'Page change history for %entityTitle%'|trans({'%entityTitle%': page|zikulacontentmodule_formattedTitle}) %}
{% block admin_page_icon isDiffView == true ? 'arrows-alt-h' : 'history' %}
{% block content %}
    <div class="zikulacontentmodule-page zikulacontentmodule-history">
        {% if isDiffView != true %}
            {{ pageAddAsset('javascript', zasset('@ZikulaContentModule:js/ZikulaContentModule.VersionHistory.js')) }}
        {% endif %}
        {{ block('page_nav_links') }}
        {% if isDiffView == true %}
            {{ block('diff_view') }}
        {% else %}
            {{ block('history_table') }}
        {% endif %}
        {{ block('page_nav_links') }}
    </div>
{% endblock %}
{% block page_nav_links %}
    <p>
        {% if isDiffView == true %}
            {% set linkTitle = 'Back to history'|trans %}
            <a href="{{ path('zikulacontentmodule_page_' ~ routeArea ~ 'loggablehistory', {slug: page.getSlug()}) }}" title="{{ linkTitle|e('html_attr') }}"><i class="fa fa-history"></i> {{ linkTitle }}</a>
        {% else %}
            {% set linkTitle = 'Pages list'|trans %}
            <a href="{{ path('zikulacontentmodule_page_' ~ routeArea ~ 'view') }}" title="{{ linkTitle|e('html_attr') }}"><i class="fa fa-reply"></i> {{ linkTitle }}</a>
        {% endif %}
        {% set linkTitle = 'Back to detail view'|trans %}
        <a href="{{ path('zikulacontentmodule_page_' ~ routeArea ~ 'display', {'slug': page.slug}) }}" title="{{ linkTitle|e('html_attr') }}"><i class="fa fa-eye"></i> {{ linkTitle }}</a>
    </p>
{% endblock %}
{% block history_table %}
    <form action="{{ path('zikulacontentmodule_page_' ~ routeArea ~ 'loggablehistory', {slug: page.getSlug()}) }}" method="get">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover{% if routeArea == 'admin' %} table-sm{% endif %}">
                <colgroup>
                    <col id="cSelect" />
                    <col id="cVersion" />
                    <col id="cDate" />
                    <col id="cUser" />
                    <col id="cOperation" />
                    <col id="cChanges" />
                    <col id="cActions" />
                </colgroup>
                <thead>
                    <tr>
                        <th id="hSelect" scope="col" class="unsorted">{% trans %}Select{% endtrans %}</th>
                        <th id="hVersion" scope="col" class="unsorted">{% trans %}Version{% endtrans %}</th>
                        <th id="hDate" scope="col" class="unsorted">{% trans %}Date{% endtrans %}</th>
                        <th id="hUser" scope="col" class="unsorted">{% trans %}User{% endtrans %}</th>
                        <th id="hOperation" scope="col" class="unsorted" colspan="2">{% trans %}Operation{% endtrans %}</th>
                        <th id="hChanges" scope="col" class="unsorted">{% trans %}Changes{% endtrans %}</th>
                        <th id="hActions" scope="col" class="unsorted">{% trans %}Actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for logEntry in logEntries %}
                        <tr>
                            <td headers="hSelect hVersion{{ logEntry.version|e('html_attr') }}" class="text-center">
                                <input type="checkbox" name="versions[]" value="{{ logEntry.version }}" class="zikulacontent-toggle-checkbox" />
                            </td>
                            <th id="hVersion{{ logEntry.version|e('html_attr') }}" headers="hVersion" scope="row" class="text-center">{{ logEntry.version }}{% if loop.first %} ({% trans %}latest{% endtrans %}){% endif %}</td>
                            <td headers="hDate hVersion{{ logEntry.version|e('html_attr') }}">
                                {{ logEntry.loggedAt|format_datetime('long', 'medium') }}
                            </td>
                            <td headers="hUser hVersion{{ logEntry.version|e('html_attr') }}">
                                {% if logEntry.username %}
                                    {{ userAvatar(logEntry.username, {rating: 'g'}) }} {{ logEntry.username|profileLinkByUserName() }}
                                {% endif %}
                            </td>
                            <td headers="hOperation hVersion{{ logEntry.version|e('html_attr') }}">
                                {% if logEntry.action == constant('Gedmo\\Loggable\\LoggableListener::ACTION_CREATE') %}
                                    {% trans %}Created{% endtrans %}
                                {% elseif logEntry.action == constant('Gedmo\\Loggable\\LoggableListener::ACTION_UPDATE') %}
                                    {% trans %}Updated{% endtrans %}
                                {% elseif logEntry.action == constant('Gedmo\\Loggable\\LoggableListener::ACTION_REMOVE') %}
                                    {% trans %}Removed{% endtrans %}
                                {% endif %}
                            </td>
                            <td headers="hOperation hVersion{{ logEntry.version|e('html_attr') }}">
                                {{ logEntry|zikulacontentmodule_logDescription }}
                            </td>
                            <td headers="hChanges hVersion{{ logEntry.version|e('html_attr') }}">
                                {% if logEntry.data is not empty %}
                                    <a role="button" data-toggle="collapse" href="#changes{{ logEntry.version }}" aria-expanded="false" aria-controls="changes{{ logEntry.version }}">
                                        {{ '{0} No fields updated|{1} One field updated|]1,Inf[ %count% fields updated'|trans({'%count%': logEntry.data|length}, 'zikulacontentmodule') }}
                                    </a>
                                    <div id="changes{{ logEntry.version }}" class="collapse">
                                        <ul>
                                            {% for field, value in logEntry.data %}
                                                {% if value is iterable %}
                                                    {% if value|length > 0 %}
                                                        <li>
                                                        {% if field in ['createdBy', 'updatedBy'] and value.uid is defined %}
                                                            {{ '%field% set to <em>%value%</em>'|trans({'%field%': field|humanize, '%value%': userAvatar(value.uid, {rating: 'g'}) ~ ' ' ~ value.uid|profileLinkByUserId()})|raw }}
                                                        {% else %}
                                                            {{ '%field% set to:'|trans({'%field%': field|humanize}) }}
                                                            {{ _self.outputArray(value, (field == 'translationData')) }}
                                                        {% endif %}
                                                        </li>
                                                    {% else %}
                                                        <li>{{ '%field% set to <em>%value%</em>'|trans({'%field%': field|humanize, '%value%': 'an empty collection'|trans})|raw }}</li>
                                                    {% endif %}
                                                {% else %}
                                                    <li>{{ '%field% set to <em>%value%</em>'|trans({'%field%': field|humanize, '%value%': _self.outputSimpleValue(value)})|raw }}</li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% else %}
                                    {% trans %}None{% endtrans %}
                                {% endif %}
                            </td>
                            <td headers="hActions hVersion{{ logEntry.version|e('html_attr') }}" class="actions">
                                {% set linkTitle = 'Preview version %version%'|trans({'%version%': logEntry.version}) %}
                                <a id="pageItem{{ page.getKey() }}Display{{ logEntry.version }}" href="{{ path('zikulacontentmodule_page_' ~ routeArea ~ 'display', {'slug': page.slug, version: logEntry.version, raw: 1}) }}" title="{{ linkTitle|e('html_attr') }}" class="zikulacontent-inline-window d-none" data-modal-title="{{ page|zikulacontentmodule_formattedTitle|e('html_attr') ~ ' ' ~ 'version'|trans ~ ' ' ~ logEntry.version }}"><i class="fa fa-id-card"></i></a>
                                {% if not loop.first %}
                                    {% set linkTitle = 'Revert to version %version%'|trans({ '%version%': logEntry.version }) %}
                                    <a href="{{ path('zikulacontentmodule_page_' ~ routeArea ~ 'loggablehistory', {'slug': page.slug, revert: logEntry.version}) }}" title="{{ linkTitle|e('html_attr') }}"><i class="fa fa-history"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <p>
            <button id="compareButton" type="submit" value="compare" class="btn btn-primary" disabled="disabled"><i class="fa fa-arrows-alt-h"></i> {% trans %}Compare selected versions{% endtrans %}</button>
        </p>
    </form>
{% endblock %}
{% block diff_view %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover{% if routeArea == 'admin' %} table-sm{% endif %}">
            <colgroup>
                <col id="cFieldName" />
                <col id="cMinVersion" />
                <col id="cMaxVersion" />
            </colgroup>
            <thead>
                <tr>
                    <th id="hFieldName" scope="col" class="unsorted">{% trans %}Field name{% endtrans %}</th>
                    <th id="hMinVersion" scope="col" class="unsorted">{% trans with {'%version%': minVersion} %}Version %version%{% endtrans %}</th>
                    <th id="hMaxVersion" scope="col" class="unsorted">{% trans with {'%version%': maxVersion} %}Version %version%{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for fieldName, values in diffValues %}
                    <tr>
                        <th id="h{{ fieldName|e('html_attr') }}" headers="hFieldName" scope="row">
                            {{ fieldName|humanize }}
                        </th>
                        <td headers="hMinVersion h{{ fieldName|e('html_attr') }}"{% if values.changed %} class="diff-old"{% endif %}>
                            {% if values.old is iterable %}
                                {% if values.old|length > 0 %}
                                    {% if fieldName in ['createdBy', 'updatedBy'] and values.old.uid is defined %}
                                        {{ userAvatar(values.old.uid, {rating: 'g'}) }} {{ values.old.uid|profileLinkByUserId() }}
                                    {% else %}
                                        {{ _self.outputArray(values.old, (fieldName == 'translationData')) }}
                                    {% endif %}
                                {% else %}
                                    {% trans %}an empty collection{% endtrans %}
                                {% endif %}
                            {% else %}
                                {{ _self.outputSimpleValue(values.old) }}
                            {% endif %}
                        </td>
                        <td headers="hMaxVersion h{{ fieldName|e('html_attr') }}"{% if values.changed %} class="diff-new"{% endif %}>
                            {% if values.new is iterable %}
                                {% if values.new|length > 0 %}
                                    {% if fieldName in ['createdBy', 'updatedBy'] and values.new.uid is defined %}
                                        {{ userAvatar(values.new.uid, {rating: 'g'}) }} {{ values.new.uid|profileLinkByUserId() }}
                                    {% else %}
                                        {{ _self.outputArray(values.new, (fieldName == 'translationData')) }}
                                    {% endif %}
                                {% else %}
                                    {% trans %}an empty collection{% endtrans %}
                                {% endif %}
                            {% else %}
                                {{ _self.outputSimpleValue(values.new) }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
