{# purpose of this template: pages tree view #}
{% extends routeArea == 'admin' ? '@ZikulaContentModule/adminBase.html.twig' : '@ZikulaContentModule/base.html.twig' %}
{% block title __('Page hierarchy') %}
{% block admin_page_icon 'code-branch' %}
{% block content %}
    <div class="zikulacontentmodule-page zikulacontentmodule-viewhierarchy">
        {% set viewActions = knp_menu_get('zikulaContentMenuViewActions', [], {objectType: 'page', area: routeArea}) %}
        {{ knp_menu_render(viewActions, {template: '@ZikulaMenuModule/Override/bootstrap_fontawesome.html.twig'}) }}
        
        {% for rootId, treeNodes in trees %}
            {{ include('@ZikulaContentModule/Page/viewTreeItems.html.twig', {rootId: rootId, items: treeNodes}) }}
        {% else %}
            {{ include('@ZikulaContentModule/Page/viewTreeItems.html.twig', {rootId: 1, items: null}) }}
        {% endfor %}

        <br style="clear: left" />

        {{ block('display_hooks') }}
    </div>
{% endblock %}
{% block display_hooks %}
    {# here you can activate calling display hooks for the view page if you need it #}
    {# % if routeArea != 'admin' %}
        {% set hooks = notifyDisplayHooks(eventName='zikulacontentmodule.ui_hooks.pages.display_view', urlObject=currentUrlObject, outputAsArray=true) %}
        {% if hooks is iterable and hooks|length > 0 %}
            {% for area, hook in hooks %}
                <div class="z-displayhook" data-area="{{ area|e('html_attr') }}">{{ hook|raw }}</div>
            {% endfor %}
        {% endif %}
    {% endif % #}
{% endblock %}
{% block footer %}
    {{ parent() }}
    {{ pageAddAsset('stylesheet', asset('jstree/dist/themes/default/style.min.css')) }}
    {{ pageAddAsset('javascript', asset('jstree/dist/jstree.min.js')) }}
    {{ pageAddAsset('javascript', zasset('@ZikulaContentModule:js/ZikulaContentModule.Tree.js')) }}
{% endblock %}
