{# purpose of this template: pages xml inclusion template #}
<page id="{{ page.getId() }}" createdon="{{ page.createdDate|localizeddate('medium', 'short') }}" updatedon="{{ page.updatedDate|localizeddate('medium', 'short') }}">
    <id>{{ page.id }}</id>
    <title><![CDATA[{{ page.title }}]]></title>
    <showTitle>{% if not page.showTitle %}0{% else %}1{% endif %}</showTitle>
    <metaDescription><![CDATA[{{ page.metaDescription }}]]></metaDescription>
    <skipHookSubscribers>{% if not page.skipHookSubscribers %}0{% else %}1{% endif %}</skipHookSubscribers>
    <layout>{% if page.layout is iterable and page.layout|length > 0 %}
        {% set firstItem = true %}
        {% for entry in if entry is not iterable %}
            {% if true == firstItem %}{% set firstItem = false %}{% else %}, {% endif %}{{ entry }}
        {% endfor %}
    {% endif %}
    </layout>
    <views>{{ page.views }}</views>
    <active>{% if not page.active %}0{% else %}1{% endif %}</active>
    <activeFrom>{% if page.activeFrom is not empty %}
        {{ page.activeFrom|localizeddate('medium', 'short') }}
    {% endif %}</activeFrom>
    <activeTo>{% if page.activeTo is not empty %}
        {{ page.activeTo|localizeddate('medium', 'short') }}
    {% endif %}</activeTo>
    <scope>{{ page.scope|zikulacontentmodule_listEntry('page', 'scope') }}</scope>
    <inMenu>{% if not page.inMenu %}0{% else %}1{% endif %}</inMenu>
    <optionalString1><![CDATA[{{ page.optionalString1 }}]]></optionalString1>
    <optionalString2><![CDATA[{{ page.optionalString2 }}]]></optionalString2>
    <optionalText><![CDATA[{{ page.optionalText|safeHtml }}]]></optionalText>
    <stylingClasses>{% if page.stylingClasses is iterable and page.stylingClasses|length > 0 %}
        {% set firstItem = true %}
        {% for entry in if entry is not iterable %}
            {% if true == firstItem %}{% set firstItem = false %}{% else %}, {% endif %}{{ entry }}
        {% endfor %}
    {% endif %}
    </stylingClasses>
    <currentVersion>{{ page.currentVersion }}</currentVersion>
    <contentData>{% if page.contentData is iterable and page.contentData|length > 0 %}
        {% set firstItem = true %}
        {% for entry in if entry is not iterable %}
            {% if true == firstItem %}{% set firstItem = false %}{% else %}, {% endif %}{{ entry }}
        {% endfor %}
    {% endif %}
    </contentData>
    <translationData>{% if page.translationData is iterable and page.translationData|length > 0 %}
        {% set firstItem = true %}
        {% for entry in if entry is not iterable %}
            {% if true == firstItem %}{% set firstItem = false %}{% else %}, {% endif %}{{ entry }}
        {% endfor %}
    {% endif %}
    </translationData>
    <workflowState>{{ page.workflowState|zikulacontentmodule_objectState(false)|lower }}</workflowState>
    <contentItems>
    {% if page.contentItems|default %}
        {% for relatedItem in page.contentItems %}
        <contentItem>{{ relatedItem|zikulacontentmodule_formattedTitle }}</contentItem>
        {% endfor %}
    {% endif %}
    </contentItems>
</page>
