{# purpose of this template: pages tree items #}
{% set hasNodes = items|default and items is iterable and items|length > 0 %}
{% set idPrefix = 'pageTree' ~ rootId %}

<p>
    <label for="{{ idPrefix }}SearchTerm">{{ __('Quick search') }}:</label>
    <input type="search" id="{{ idPrefix }}SearchTerm" value="" />
</p>

<div class="btn-toolbar" role="toolbar" aria-label="category button toolbar">
    <div class="btn-group btn-group-sm" role="group" aria-label="page buttons">
        <button type="button" id="{{ idPrefix }}Expand" class="btn btn-info" title="{{ __('Expand all nodes') }}"><i class="fa fa-expand"></i> {{ __('Expand all') }}</button>
        <button type="button" id="{{ idPrefix }}Collapse" class="btn btn-info" title="{{ __('Collapse all nodes') }}"><i class="fa fa-compress"></i> {{ __('Collapse all') }}</button>
    </div>
</div>
<div class="clearfix">
    <div id="{{ idPrefix }}" class="tree-container" data-object-type="page" data-root-id="{{ rootId|e('html_attr') }}" data-has-display="true" data-has-edit="true">
        {% if hasNodes %}
            <ul id="itemTree{{ rootId|e('html_attr') }}">
                {{ zikulacontentmodule_treeData(objectType='page', tree=items, routeArea=routeArea, rootId=rootId) }}
            </ul>
        {% endif %}
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>
