{# purpose of this template: pages view csv view #}
{% spaceless %}"{{ __('Title') }}";"{{ __('Show title') }}";"{{ __('Meta description') }}";"{{ __('Skip ui hook subscriber') }}";"{{ __('Skip filter hook subscriber') }}";"{{ __('Layout') }}";"{{ __('Views') }}";"{{ __('Active') }}";"{{ __('Active from') }}";"{{ __('Active to') }}";"{{ __('In menu') }}";"{{ __('Page language') }}";"{{ __('Optional string 1') }}";"{{ __('Optional string 2') }}";"{{ __('Optional text') }}";"{{ __('Current version') }}";"{{ __('Version data') }}";"{{ __('Workflow state') }}"
;"{{ __('Content items') }}"
{% endspaceless %}
{% for page in items %}
{% spaceless %}
    "{{ page.title }}";"{% if not page.showTitle %}0{% else %}1{% endif %}";"{{ page.metaDescription|safeHtml }}";"{% if not page.skipUiHookSubscriber %}0{% else %}1{% endif %}";"{% if not page.skipFilterHookSubscriber %}0{% else %}1{% endif %}";"{{ page.layout }}";"{{ page.views }}";"{% if not page.active %}0{% else %}1{% endif %}";"{{ page.activeFrom|localizeddate('medium', 'short') }}";"{{ page.activeTo|localizeddate('medium', 'short') }}";"{% if not page.inMenu %}0{% else %}1{% endif %}";"{{ page.pageLanguage|languageName }}";"{{ page.optionalString1 }}";"{{ page.optionalString2 }}";"{{ page.optionalText|safeHtml }}";"{{ page.currentVersion }}";"{% if page.versionData is iterable and page.versionData|length > 0 %}
        <ul>
        {% for entry in page.versionData %}
            <li>{{ entry }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    ";"{{ page.workflowState|zikulacontentmodule_objectState(false)|lower }}"
    ;"
    {% if page.contentItems|default %}
        {% for relatedItem in page.contentItems %}
        {{ relatedItem|zikulacontentmodule_formattedTitle }}{% if not loop.last %}, {% endif %}
        {% endfor %}
    {% endif %}
    "
{% endspaceless %}
{% endfor %}
