{# purpose of this template: Display pages without the theme #}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ app.request.locale }}" lang="{{ app.request.locale }}">
<head>
    <title>{{ block('pageTitle')|default(block('title')) }}</title>
</head>
<body>
    {% if useFinder|default != true %}
        <h2>{{ block('title') }}</h2>
    {% endif %}
    {% block content %}{% endblock %}
    {% block footer %}
        <p class="text-center">
            Powered by <a href="https://modulestudio.de" title="Get the MOST out of Zikula!">ModuleStudio 1.4.0</a>
        </p>
        {{ moduleFooter() }}
        {{ pageAddAsset('stylesheet', zasset('@ZikulaContentModule:css/custom.css'), 120) }}
        {{ pageAddAsset('stylesheet', asset('jquery-ui/themes/base/jquery-ui.min.css')) }}
        {{ pageAddAsset('javascript', asset('jquery-ui/jquery-ui.min.js')) }}
        {{ pageAddAsset('javascript', zasset('@ZikulaContentModule:js/ZikulaContentModule.js')) }}
        <script>
            /* <![CDATA[ */
                if (typeof(Zikula) == 'undefined') {var Zikula = {};}
                Zikula.Config = {'entrypoint': '{{ getSystemVar('entrypoint', 'index.php') }}', 'baseURL': '{{ app.request.schemeAndHttpHost ~ '/' }}', 'baseURI': '{{ app.request.basePath }}'};
            /* ]]> */
        </script>
        {% if useFinder|default != true %}
            <script>
            /* <![CDATA[ */
                ( function($) {
                    $(document).ready(function() {
                        $('.dropdown-toggle').addClass('hidden');
                    });
                })(jQuery);
            /* ]]> */
            </script>
        {% endif %}
    {% endblock %}
</body>
</html>
