{{ form_row(form.author) }}
<div id="authorUserName" class="hidden">{{ form.vars.data.author|profileLinkByUserId|striptags }}</div>
{{ form_row(form.showAvatar) }}
{{ form_row(form.avatarWidth) }}
{{ form_row(form.showMessageLink) }}
