{# purpose of this template: display a breadcrumb element #}
<ol class="breadcrumb">
    {% if includeHome %}
        <li class="breadcrumb-item"><a href="{{ pagevars.homepath }}" title="{{ 'Home'|trans|e('html_attr') }}">{% trans %}Home{% endtrans %}</a></li>
    {% endif %}
    {% for page in pages|filter(p => zikulacontentmodule_hasReadAccess(p)) %}
        <li class="breadcrumb-item{% if page.id == currentPageId %} active{% endif %}">
            {% set pageTitle = page|zikulacontentmodule_formattedTitle %}
            <a href="{{ path('zikulacontentmodule_page_display', {slug: page.slug}) }}" title="{{ pageTitle|e('html_attr') }}">{{ pageTitle }}</a>
        </li>
    {% endfor %}
</ol>
