{# purpose of this template: display a feed element #}
{% trans_default_domain 'zikulacontentmodule' %}
<div class="content-feed">
    <h3><a href="{{ feed.permalink|e('html_attr') }}" title="{{ feed.title|e('html_attr') }}">{{ feed.title }}</a></h3>
    {#% if feed.description %}
        <p>{{ feed.description }}</p>
    {% endif %#}
    {% if feed.items|length > 0 %}
        <div class="list-group">
            {% for item in feed.items %}
                <a href="{{ item.permalink|e('html_attr') }}" title="{{ item.title|e('html_attr') }}" class="list-group-item list-group-item-action">
                    {% if includeContent %}
                        <h5>{{ item.title }}</h5>
                        {% if item.description %}
                            <p>{{ item.description }}</p>
                        {% endif %}
                    {% else %}
                        {{ item.title }}
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    {% endif %}
</div>
