{# purpose of this template: display a google route element #}
{% trans_default_domain 'zikulacontentmodule' %}
<div class="content-googleroute row d-none" data-mapid="map{{ contentId }}" data-latitude="{{ latitude }}" data-longitude="{{ longitude }}" data-zoom="{{ zoom }}" data-maptype="{{ mapType }}" data-markertitle="{{ 'Destination address'|trans|e('html_attr') }}" data-destinationaddress="{{ addressText|e('html_attr') }}">
    <div class="col-md-7">
        <h3>{{ topText }}</h3>
        <div class="form-group">
            <label for="fromAddress{{ contentId }}" class="col-form-label">Ihre Adresse:</label><br />
            <div class="input-group">
                <input type="text" id="fromAddress{{ contentId }}" name="from" value="" maxlength="255" class="form-control" />
                <span class="input-group-append">
                    <button type="button" id="startCalc{{ contentId }}" class="btn btn-default"><i class="fa fa-map-signs"></i> {% trans %}Calculate route!{% endtrans %}</button>
                </span>
            </div>
            <small class="form-text text-muted">{% trans %}Street (optional), Location, Country (optional){% endtrans %}</small>
        </div>
        <br /><br />
        <div id="map{{ contentId }}" class="map" style="width: 100%; height: {{ height }}px"></div>
        <p class="content-description">{{ bottomText }}</p>
        <div id="warningsPanel{{ contentId }}" class="alert alert-warning d-none"></div>
    </div>
    <div id="directions{{ contentId }}" class="col-md-5 d-none map-directions">
    </div>
</div>
<noscript>
    <p><img src="https://maps.google.com/maps/api/staticmap?size=600x{{ height }}&amp;maptype={{ mapType }}&amp;center={{ latitude }},{{ longitude }}&amp;markers={{ latitude }},{{ longitude }}&amp;zoom={{ zoom }}&amp;key={{ getModVar('ZikulaContentModule', 'googleMapsApiKey', '') }}" alt="{{ topText|e('html_attr') }}" title="{{ topText|e('html_attr') }}" class="img-fluid" /></p>
</noscript>
