{% if toc.toc|default %}
    {% set hasDirectChildren = false %}
    {% for item in toc.toc|filter(i => not i.pageId|default or zikulacontentmodule_hasReadAccess(i.pageId)) %}
        {% if item.pageId|default and item.pageId == currentPage.id %}
            {% if includeSelf and includeStart %}
                {% set hasDirectChildren = true %}
            {% endif %}
        {% else %}
            {% if includeStart or item.level > 0 %}
                {% set hasDirectChildren = true %}
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if hasDirectChildren %}
        <ul class="content-toc">
    {% endif %}
        {% for item in toc.toc|filter(i => not i.pageId|default or zikulacontentmodule_hasReadAccess(i.pageId)) %}
            {% if item.pageId|default and item.pageId == currentPage.id %}
                {% if includeSelf %}
                    <li class="content-toc-level_{{ item.level }} content-toc-active">{{ item.title }}
                {% endif %}
                {% if item.toc|default %}
                    {{ include('@ZikulaContentModule/ContentType/tableOfContentsView.html.twig', {toc: item}) }}
                {% endif %}
                {% if includeSelf %}
                    </li>
                {% endif %}
            {% else %}
                {% if includeStart or item.level > 0 %}
                    <li class="content-toc-level_{{ item.level }} {{ item.css }}"><a href="{{ item.url|e('html_attr') }}">{{ item.title }}</a>
                {% endif %}
                {% if item.toc|default %}
                    {{ include('@ZikulaContentModule/ContentType/tableOfContentsView.html.twig', {toc: item}) }}
                {% endif %}
                {% if includeStart or item.level > 0 %}
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% if hasDirectChildren %}
        </ul>
    {% endif %}
{% endif %}
