<div class="row">
    <div class="col-md-12">
        <div{% if tabStyle|default %} class="{{ tabStyle|e('html_attr') }}"{% endif %} role="tabpanel">
            {% if tabType == 1 %}
            <ul class="nav nav-tabs" role="tablist">
            {% elseif tabType == 2 %}
            <ul class="nav nav-pills" role="tablist">
            {% elseif tabType == 3 %}
            <div class="col-sm-3">
            <ul class="nav nav-pills nav-stacked" role="tablist">
            {% endif %}
            {# Nav tabs #}
            {% for itemToTab in itemsToTab %}
                <li role="presentation" class="nav-item">
                    <a href="#tab{{ contentId }}{{ itemToTab.link|e('html_attr') }}" aria-controls="{{ itemToTab.link|e('html_attr') }}" role="tab" data-toggle="tab" class="nav-link{% if loop.first %} active{% endif %}">{{ itemToTab.title }}</a>
                </li>
            {% endfor %}
            </ul>
            {% if tabType == 3 %}
            </div>
            {% endif %}

            {# Tab panes #}
            {% if tabType == 3 %}
            <div class="col-sm-9">
            {% endif %}
            <div class="tab-content">
            {% for itemToTab in itemsToTab %}
                <div role="tabpanel" class="tab-pane fade{% if loop.first %} show active{% endif %}" id="tab{{ contentId }}{{ itemToTab.link|e('html_attr') }}">
                    {{ itemToTab.display|raw }}
                </div>
            {% endfor %}
            </div>
            {% if tabType == 3 %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
