{% if videoId|default %}
{% set videoUrl = 'https://player.vimeo.com/video/' ~ videoId %}
<div class="content-video content-vimeo">
    {% if displayMode == 'inline' %}
        <div class="embed-responsive embed-responsive-{#16by9#}4by3">
            <iframe class="embed-responsive-item" src="{{ videoUrl|e('html_attr') }}" frameborder="0" webkitallowfullScreen mozallowfullscreen allowfullscreen seamless></iframe>
        </div>
        <p><small>{% if text|default %}{{ text|nl2br|safeHtml }}&nbsp;|&nbsp;{% endif %}<a href="https://vimeo.com/{{ videoId|e('html_attr') }}"{% if text|default %} title="{{ text|striptags|e('html_attr') }}"{% endif %}>vimeo.com</a></small></p>
    {% else %}
        <div class="text-center">
            {% if details|default and details[0]|default and details[0].thumbnail_large|default %}
                <p>
                    <a href="{{ videoUrl|e('html_attr') }}"{% if text|default %} title="{{ text|striptags|e('html_attr') }}"{% endif %} data-toggle="modal" data-target="#content{{ contentId }}Modal"><img src="{{ details[0].thumbnail_large|e('html_attr') }}" alt="{% if text|default %}{{ text|striptags|e('html_attr') }}{% else %}{{ __('Video') }}{% endif %}" class="img-fluid mx-auto my-0" /></a>
                </p>
            {% endif %}
            {% if text|default %}<p><small>{{ text|nl2br|safeHtml }}</small></p>{% endif %}
            <p><a href="{{ videoUrl|e('html_attr') }}"{% if text|default %} title="{{ text|striptags|e('html_attr') }}"{% endif %} class="btn btn-default" data-toggle="modal" data-target="#content{{ contentId }}Modal"><i class="fa fa-play-circle fa-3x"></i><br />{{ __('Play video') }}</a></p>
        </div>
        <div class="modal fade" id="content{{ contentId }}Modal" tabindex="-1" role="dialog"{% if text|default %} aria-labelledby="content{{ contentId }}ModalLabel"{% endif %} data-backdrop="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        {% if text|default %}
                            <h5 class="modal-title" id="content{{ contentId }}ModalLabel">{{ text|striptags }}</h5>
                        {% endif %}
                        <button type="button" class="close" data-dismiss="modal" aria-label="{{ __('Close') }}"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="embed-responsive embed-responsive-{#16by9#}4by3">
                            <iframe class="embed-responsive-item" src="{{ videoUrl|e('html_attr') }}" frameborder="0" webkitallowfullScreen mozallowfullscreen allowfullscreen seamless></iframe>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Close') }}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endif %}
