{# purpose of this template: Display an entry in a list of pages #}
{% set pageTitle = page|zikulacontentmodule_formattedTitle %}
{% set isActivePage = zikulacontentmodule_isCurrentPage(page) %}
<li role="presentation" class="nav-item{% if isDropdown|default %} dropdown{% endif %}">
{% if vars.subPagesHandling|default == 'hide' or page.children|length < 1 %}
    <a href="{{ path('zikulacontentmodule_page_display', {slug: page.slug}) }}" title="{{ pageTitle|e('html_attr') }}" class="nav-link{% if isActivePage %} active{% endif %}">{{ pageTitle }}</a>
{% elseif isDropdown|default %}
    <a href="#" title="{{ pageTitle|e('html_attr') }}" class="dropdown-toggle nav-link{% if isActivePage %} active{% endif %}"" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ pageTitle }}</a>
    {{ include('@ZikulaContentModule/Block/pageListInclude.html.twig', {pages: page.children, context: context, includeSelf: context == 'menuBlock'}) }}
{% endif %}
</li>
