{# purpose of this template: Edit block for generic item list view #}
{% if form.objectType is defined %}
    {{ form_row(form.objectType) }}
{% endif %}
{% if form.categories is defined %}
    {{ form_row(form.categories) }}
{% endif %}
{% if form.sorting is defined %}
    {{ form_row(form.sorting) }}
{% endif %}
{% if form.amount is defined %}
    {{ form_row(form.amount) }}
{% endif %}

{% if form.template is defined %}
    {{ form_row(form.template) }}
    <div id="customTemplateArea" data-switch="zikulablocksmodule_block[properties][template]" data-switch-value="custom">
        {% if form.customTemplate is defined %}
            {{ form_row(form.customTemplate) }}
        {% endif %}
    </div>
{% endif %}

{% if form.filter is defined %}
    {{ form_row(form.filter) }}
{% endif %}
