{# Purpose of this template: Display a popup selector of pages for scribite integration #}
{% trans_default_domain 'zikulacontentmodule' %}
{% set useFinder = true %}
{% extends '@ZikulaContentModule/raw.html.twig' %}
{% block title 'Search and select page'|trans %}
{% block content %}
    <div class="container">
        <div class="zikula-bootstrap-tab-container">
            <ul class="nav nav-tabs" role="tablist">
            {% if 'page' in activatedObjectTypes %}
                <li class="nav-item">
                    <a href="{{ path('zikulacontentmodule_external_finder', {objectType: 'page', editor: editorName}) }}" title="{{ 'Search and select page'|trans|e('html_attr') }}" class="nav-link{{ objectType == 'page' ? ' active' : '' }}">{% trans %}Pages{% endtrans %}</a>
                </li>
            {% endif %}
            </ul>
        </div>
        {% form_theme finderForm with [
            '@ZikulaContentModule/Form/bootstrap_4.html.twig',
            '@ZikulaFormExtension/Form/form_div_layout.html.twig'
        ] %}
        {{ form_start(finderForm, {attr: {id: 'zikulaContentModuleSelectorForm'}}) }}
        {{ form_errors(finderForm) }}
        <fieldset>
            <legend>{% trans %}Search and select page{% endtrans %}</legend>
            {% if featureActivationHelper.isEnabled(constant('Zikula\\ContentModule\\Helper\\FeatureActivationHelper::CATEGORIES'), 'page') %}
                {{ form_row(finderForm.categories) }}
            {% endif %}
            {{ form_row(finderForm.pasteAs) }}
            <br />
            <div class="form-group row">
                <label class="col-md-3 col-form-label">{% trans %}Page{% endtrans %}:</label>
                <div class="col-md-9">
                    <div id="zikulacontentmoduleItemContainer">
                        <ul>
                            {% for page in items %}
                                <li>
                                    {% set itemId = page.getKey() %}
                                    <a href="#" data-itemid="{{ itemId }}">
                                        {{ page|zikulacontentmodule_formattedTitle }}
                                    </a>
                                    <input type="hidden" id="path{{ itemId }}" value="{{ path('zikulacontentmodule_page_display', {'slug': page.slug}) }}" />
                                    <input type="hidden" id="url{{ itemId }}" value="{{ url('zikulacontentmodule_page_display', {'slug': page.slug}) }}" />
                                    <input type="hidden" id="title{{ itemId }}" value="{{ page|zikulacontentmodule_formattedTitle|e('html_attr') }}" />
                                    <input type="hidden" id="desc{{ itemId }}" value="{% set description %}{% if page.optionalText is not empty %}{{ page.optionalText }}{% endif %}
                                    {% endset %}{{ description|striptags|e('html_attr') }}" />
                                </li>
                            {% else %}
                                <li>{% trans %}No pages found.{% endtrans %}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            {{ form_row(finderForm.sort) }}
            {{ form_row(finderForm.sortdir) }}
            {{ form_row(finderForm.num) }}
            {{ form_row(finderForm.q) }}
            <div>
                {{ pager({display: 'page', rowcount: pager.numitems, limit: pager.itemsperpage, posvar: 'pos', maxpages: 10, route: 'zikulacontentmodule_external_finder'}) }}
            </div>
            <div class="form-group row">
                <div class="col-md-9 offset-md-3">
                    {{ form_widget(finderForm.update) }}
                    {{ form_widget(finderForm.cancel) }}
                </div>
            </div>
        </fieldset>
        {{ form_end(finderForm) }}
    </div>

    {#
    <div class="zikulacontentmodule-finderform">
        <fieldset>
            {{ render(controller('ZikulaContentModule:Page:edit')) }}
        </fieldset>
    </div>
    #}
{% endblock %}
{% block footer %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@ZikulaContentModule:js/ZikulaContentModule.Finder.js')) }}
{% endblock %}
