{# purpose of this template: module configuration page #}
{% extends '@ZikulaContentModule/adminBase.html.twig' %}
{% trans_default_domain 'config' %}
{% block title 'Settings'|trans %}
{% block admin_page_icon 'wrench' %}
{% block content %}
    <div class="zikulacontentmodule-config">
        {% form_theme form with [
            '@ZikulaContentModule/Form/bootstrap_4.html.twig',
            '@ZikulaFormExtension/Form/form_div_layout.html.twig'
        ] only %}
        {{ form_start(form) }}
        <div class="zikula-bootstrap-tab-container">
            <ul class="nav nav-tabs" role="tablist">
                {% set tabTitle = 'General settings'|trans %}
                <li class="nav-item" role="presentation">
                    <a id="vars1Tab" href="#tab1" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab" class="nav-link active">{{ tabTitle }}</a>
                </li>
                {% set tabTitle = 'Custom styles'|trans %}
                <li class="nav-item" role="presentation">
                    <a id="vars2Tab" href="#tab2" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab" class="nav-link">{{ tabTitle }}</a>
                </li>
                {% set tabTitle = 'Additional fields'|trans %}
                <li class="nav-item" role="presentation">
                    <a id="vars3Tab" href="#tab3" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab" class="nav-link">{{ tabTitle }}</a>
                </li>
                {% set tabTitle = 'Permalinks'|trans %}
                <li class="nav-item" role="presentation">
                    <a id="vars4Tab" href="#tab4" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab" class="nav-link">{{ tabTitle }}</a>
                </li>
                {% set tabTitle = 'List views'|trans %}
                <li class="nav-item" role="presentation">
                    <a id="vars5Tab" href="#tab5" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab" class="nav-link">{{ tabTitle }}</a>
                </li>
                {% set tabTitle = 'Moderation'|trans %}
                <li class="nav-item" role="presentation">
                    <a id="vars6Tab" href="#tab6" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab" class="nav-link">{{ tabTitle }}</a>
                </li>
                {% set tabTitle = 'Integration'|trans %}
                <li class="nav-item" role="presentation">
                    <a id="vars7Tab" href="#tab7" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab" class="nav-link">{{ tabTitle }}</a>
                </li>
                {% set tabTitle = 'Versioning'|trans %}
                <li class="nav-item" role="presentation">
                    <a id="vars8Tab" href="#tab8" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab" class="nav-link">{{ tabTitle }}</a>
                </li>
                {#% set tabTitle = 'Workflows'|trans %}
                <li class="nav-item" role="presentation">
                    <a id="workflowsTab" href="#tabWorkflows" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab" class="nav-link">{{ tabTitle }}</a>
                </li>#}
                {% set tabTitle = 'Available plugins'|trans %}
                <li class="nav-item" role="presentation">
                    <a id="pluginsTab" href="#tabPlugins" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab" class="nav-link">{{ tabTitle }}</a>
                </li>
            </ul>

            {{ form_errors(form) }}
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade show active" id="tab1" aria-labelledby="vars1Tab">
                    {% set tabTitle = 'General settings'|trans %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                        <p class="alert alert-info">{% trans %}Here you can manage all basic settings for this application.{% endtrans %}</p>
                    
                        {{ form_row(form.stateOfNewPages) }}
                        {{ form_row(form.countPageViews) }}
                        {{ form_row(form.googleMapsApiKey, {
                            'input_group': {
                                'right': '<a href="https://developers.google.com/maps/documentation/javascript/get-api-key#key" title="' ~ 'Get API key'|trans ~ '" target="_blank"><i class="fas fa-key"></i></a>'
                            }
                        }) }}
                        {{ form_row(form.yandexTranslateApiKey, {
                            'input_group': {
                                'right': '<a href="https://tech.yandex.com/translate/" title="' ~ 'Get API key'|trans ~ '" target="_blank"><i class="fas fa-key"></i></a>'
                            }
                        }) }}
                        {{ form_row(form.enableRawPlugin) }}
                        {{ form_row(form.inheritPermissions) }}
                        {{ form_row(form.enableAutomaticPageLinks) }}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab2" aria-labelledby="vars2Tab">
                    {% set tabTitle = 'Custom styles'|trans %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                        <p class="alert alert-info">{% trans %}With custom styles you can add and reuse your own design to pages, page sections and content elements. Write one class name on each line. Please separate the CSS classes and displaynames with | - eg. "my-class | My class".{% endtrans %}</p>
                    
                        {{ form_row(form.pageStyles) }}
                        {{ form_row(form.sectionStyles) }}
                        {{ form_row(form.contentStyles) }}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab3" aria-labelledby="vars3Tab">
                    {% set tabTitle = 'Additional fields'|trans %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                        <p class="alert alert-info">{% trans %}Here you can activate additional fields which allow you to add structural properties to your pages which can be used for custom functionality. All of these fields are translatable.{% endtrans %}</p>
                    
                        {{ form_row(form.enableOptionalString1) }}
                        {{ form_row(form.enableOptionalString2) }}
                        {{ form_row(form.enableOptionalText) }}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab4" aria-labelledby="vars4Tab">
                    {% set tabTitle = 'Permalinks'|trans %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                        <p class="alert alert-info">{% trans %}Here you can customise the behaviour of creating permalinks for content pages. Note this affect only the URLs for displaying content pages. Other URLs of the Content module are not changed.{% endtrans %}</p>
                    
                        {{ form_row(form.ignoreBundleNameInRoutes) }}
                        {{ form_row(form.ignoreEntityNameInRoutes) }}
                        {{ form_row(form.ignoreFirstTreeLevelInRoutes) }}
                        {{ form_row(form.permalinkSuffix) }}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab5" aria-labelledby="vars5Tab">
                    {% set tabTitle = 'List views'|trans %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                        <p class="alert alert-info">{% trans %}Here you can configure parameters for list views.{% endtrans %}</p>
                    
                        {{ form_row(form.pageEntriesPerPage) }}
                        {{ form_row(form.linkOwnPagesOnAccountPage) }}
                        {{ form_row(form.pagePrivateMode) }}
                        {{ form_row(form.showOnlyOwnEntries) }}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab6" aria-labelledby="vars6Tab">
                    {% set tabTitle = 'Moderation'|trans %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                        <p class="alert alert-info">{% trans %}Here you can define moderation-related settings.{% endtrans %}</p>
                    
                        {{ form_row(form.allowModerationSpecificCreatorForPage) }}
                        {{ form_row(form.allowModerationSpecificCreationDateForPage) }}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade d-none" id="tab7" aria-labelledby="vars7Tab">
                    {% set tabTitle = 'Integration'|trans %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                        <p class="alert alert-info">{% trans %}These options allow you to configure integration aspects.{% endtrans %}</p>
                    
                        {{ form_row(form.enabledFinderTypes) }}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab8" aria-labelledby="vars8Tab">
                    {% set tabTitle = 'Versioning'|trans %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                        <p class="alert alert-info">{% trans %}Here you can define settings related to version control.{% endtrans %}</p>
                    
                        {{ form_row(form.revisionHandlingForPage) }}
                        {{ form_row(form.maximumAmountOfPageRevisions) }}
                        {{ form_row(form.periodForPageRevisions) }}
                        {{ form_row(form.showPageHistory) }}
                    </fieldset>
                </div>
                {#<div role="tabpanel" class="tab-pane fade" id="tabWorkflows" aria-labelledby="workflowsTab">
                    {% set tabTitle = 'Workflows'|trans %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                
                        <p class="alert alert-info">{% trans %}Here you can inspect and amend the existing workflows.{% endtrans %}</p>
                
                        <h4>{% trans %}Pages{% endtrans %}</h4>
                        <p><a href="{{ path('zikula_workflow_editor_index', {workflow: 'zikulacontentmodule_none'}) }}" title="{{ 'Edit workflow for pages'|trans|e('html_attr') }}" target="_blank"><i class="fas fa-cubes"></i> {% trans %}Edit pages workflow{% endtrans %}</a>
                        <h4>{% trans %}Content items{% endtrans %}</h4>
                        <p><a href="{{ path('zikula_workflow_editor_index', {workflow: 'zikulacontentmodule_none'}) }}" title="{{ 'Edit workflow for content items'|trans|e('html_attr') }}" target="_blank"><i class="fas fa-cubes"></i> {% trans %}Edit content items workflow{% endtrans %}</a>
                    </fieldset>
                </div>#}
                <div role="tabpanel" class="tab-pane fade" id="tabPlugins" aria-labelledby="pluginsTab">
                    {% set tabTitle = 'Available plugins'|trans %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                        <p class="alert alert-info">{% trans %}Content allows other bundles/modules to provide additional content elements. Moreover some modules introduce extra functions to plugins delivered with Content. The following list shows which plugins are available at your installation.{% endtrans %}</p>
                        {% set allContentTypes = zikulacontentmodule_contentTypes(true) %}
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-sm">
                                <colgroup>
                                    <col id="cBundle" />
                                    <col id="cPlugin" />
                                    <col id="cActive" />
                                    <col id="cCategory" />
                                    <col id="cDescription" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th id="hBundle" scope="col">{% trans %}Bundle{% endtrans %}</th>
                                        <th id="hPlugin" scope="col">{% trans %}Plugin{% endtrans %}</th>
                                        <th id="hActive" scope="col">{% trans %}Active{% endtrans %}</th>
                                        <th id="hCategory" scope="col">{% trans %}Category{% endtrans %}</th>
                                        <th id="hDescription" scope="col">{% trans %}Description{% endtrans %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for contentType in allContentTypes %}
                                    <tr>
                                        <td headers="h{{ contentType.name }} hBundle">{{ contentType.bundleName }}</td>
                                        <th id="h{{ contentType.name }}" scope="row" headers="hPlugin" class="nowrap">
                                            <i class="fas fa-fw fa-{{ contentType.icon|e('html_attr') }}"></i> {{ contentType.title }}
                                        </th>
                                        <td headers="h{{ contentType.name }} hActive" class="text-center text-{% if contentType.active %}success{% else %}danger{% endif %}">
                                            {% if contentType.active %}
                                                <i class="fas fa-check" title="{{ 'Yes'|trans|e('html_attr') }}"></i>
                                            {% else %}
                                                <i class="fas fa-times" title="{{ 'No'|trans|e('html_attr') }}"></i>
                                            {% endif %}
                                        </td>
                                        <td headers="h{{ contentType.name }} hCategory">
                                            {{ contentType.category }}
                                        </td>
                                        <td headers="h{{ contentType.name }} hDescription">
                                            {{ contentType.description }}
                                            {% if contentType.adminInfo|default %}<br /><span class="badge badge-info">{{ contentType.adminInfo }}</span>{% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="form-group form-buttons row">
            <div class="col-md-9 offset-md-3">
                {{ form_widget(form.save) }}
                {{ form_widget(form.reset) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@ZikulaContentModule:js/ZikulaContentModule.Config.js')) }}
    {{ pageAddAsset('javascript', zasset('@ZikulaContentModule:js/ZikulaContentModule.Validation.js'), 98) }}
    {{ pageAddAsset('javascript', zasset('@ZikulaContentModule:js/ZikulaContentModule.EditFunctions.js'), 99) }}
    {% set formInitScript %}
        <script>
        /* <![CDATA[ */
            ( function($) {
                $(document).ready(function() {
                    zikulaContentInitEditForm('edit', '1');
                });
            })(jQuery);
        /* ]]> */
        </script>
    {% endset %}
    {{ pageAddAsset('footer', formInitScript) }}
{% endblock %}
