{# Purpose of this template: Edit block for generic item list view #}
{{ form_row(form.objectType) }}
{% if form.categories is defined %}
    {{ form_row(form.categories) }}
{% endif %}
{{ form_row(form.sorting) }}
{{ form_row(form.amount) }}

{{ form_row(form.template) }}
<div id="customTemplateArea" data-switch="zikulablocksmodule_block[properties][template]" data-switch-value="custom">
    {{ form_row(form.customTemplate) }}
</div>

{{ form_row(form.filter) }}
{{ pageAddAsset('stylesheet', asset('bootstrap/css/bootstrap.min.css')) }}
{{ pageAddAsset('stylesheet', asset('bootstrap/css/bootstrap-theme.min.css')) }}
{{ pageAddAsset('javascript', asset('bootstrap/js/bootstrap.min.js')) }}
