{# purpose of this template: display pages without the theme #}
{% trans_default_domain 'messages' %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ app.request.locale }}" lang="{{ app.request.locale }}">
<head>
    <title>{{ block('pageTitle')|default(block('title')) }}</title>
</head>
<body>
    {% if useFinder|default != true %}
        <h2>{{ block('title') }}</h2>
    {% endif %}
    {% block content %}{% endblock %}
    {% block footer %}
        <p id="poweredByMost" class="text-center">
            Powered by <a href="https://modulestudio.de" title="Get the MOST out of Zikula!">ModuleStudio 1.4.0</a>
        </p>
        {{ pageAddAsset('javascript', zasset('@ZikulaContentModule:js/ZikulaContentModule.Backlink.Integration.js')) }}
        {{ pageAddAsset('stylesheet', zasset('@ZikulaContentModule:css/custom.css'), 120) }}
        {{ pageAddAsset('stylesheet', asset('jquery-ui/themes/base/jquery-ui.min.css')) }}
        {{ pageAddAsset('javascript', asset('jquery-ui/jquery-ui.min.js')) }}
        {{ pageAddAsset('javascript', zasset('@ZikulaContentModule:js/ZikulaContentModule.js')) }}
        {% if useFinder|default != true %}
            {{ pageAddAsset('javascript', zasset('@ZikulaContentModule:js/ZikulaContentModule.RawPage.js')) }}
        {% endif %}
    {% endblock %}
</body>
</html>
