{# purpose of this template: display pages without the theme #}
{% trans_default_domain 'messages' %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ app.request.locale }}" lang="{{ app.request.locale }}">
<head>
    <title>{{ block('pageTitle')|default(block('title')) }}</title>
</head>
<body>
    {% if useFinder|default != true %}
        <h2>{{ block('title') }}</h2>
    {% endif %}
    {% block content %}{% endblock %}
    {% block footer %}
        <p id="poweredByMost" class="text-center">
            Powered by <a href="https://modulestudio.de" title="Get the MOST out of Zikula!">ModuleStudio 1.4.0</a>
        </p>
        {% set customScript %}
            <script>
            /* <![CDATA[ */
                ( function($) {
                    $(document).ready(function() {
                        if ($('#poweredBy').length > 0) {
                            $('#poweredBy').html($('#poweredBy').html() + ' {% trans %}and{% endtrans %} ').append($('#poweredByMost a'));
                            $('#poweredByMost').remove();
                        }
                    });
                })(jQuery);
            /* ]]> */
            </script>
        {% endset %}
        {{ pageAddAsset('footer', customScript) }}
        {{ pageAddAsset('stylesheet', zasset('@ZikulaContentModule:css/custom.css'), 120) }}
        {{ pageAddAsset('stylesheet', asset('jquery-ui/themes/base/jquery-ui.min.css')) }}
        {{ pageAddAsset('javascript', asset('jquery-ui/jquery-ui.min.js')) }}
        {{ pageAddAsset('javascript', zasset('@ZikulaContentModule:js/ZikulaContentModule.js')) }}
        <script>
            /* <![CDATA[ */
                if (typeof(Zikula) == 'undefined') {var Zikula = {};}
                Zikula.Config = {'entrypoint': '{{ getSystemVar('entrypoint', 'index.php') }}', 'baseURL': '{{ app.request.schemeAndHttpHost ~ '/' }}', 'baseURI': '{{ app.request.basePath }}'};
            /* ]]> */
        </script>
        {% if useFinder|default != true %}
            {% set customScript %}
                <script>
                /* <![CDATA[ */
                    ( function($) {
                        $(document).ready(function() {
                            $('.dropdown-toggle').addClass('d-none');
                        });
                    })(jQuery);
                /* ]]> */
                </script>
            {% endset %}
            {{ pageAddAsset('footer', customScript) }}
        {% endif %}
    {% endblock %}
</body>
</html>
