{# purpose of this template: page content management #}
{% extends routeArea == 'admin' ? '@ZikulaContentModule/adminBase.html.twig' : '@ZikulaContentModule/base.html.twig' %}
{% trans_default_domain 'page' %}
{% block title %}{{ page|zikulacontentmodule_formattedTitle|default('Page'|trans) }} - {% trans %}Manage content{% endtrans %}{% endblock %}
{% block admin_page_icon 'cubes' %}
{% block content %}
    {% set pageLevelActions %}
        <div class="btn-group d-flex mb-3" role="group">
            <button type="button" class="btn btn-secondary add-section" title="{{ 'Add another section'|trans|e('html_attr') }}"><i class="fas fa-plus-circle"></i> {% trans %}Add section{% endtrans %}</button>
            <button type="button" class="btn btn-secondary exit-page" data-url="{{ returnUrl|e('html_attr') }}" title="{{ 'Back to last page'|trans|e('html_attr') }}"><i class="fas fa-undo"></i> {% trans from 'messages' %}Back{% endtrans %}</button>
        </div>
    {% endset %}
    {{ zikulacontentmodule_getPagePath(page, false) }}
    {% set widgetDimensions = {width: 4, minWidth: 2, height: 3} %}
    <div id="notificationContainer">
        <div id="notificationBox"></div>
    </div>
    <div class="zikulacontentmodule-page zikulacontentmodule-managecontent">
        <div id="editFrame">
            <p class="alert alert-info">{% trans %}Here you manage the content of this page. You can add/edit/delete content as well as drag the content boxes around to get the layout right. Click on the arrow next to the title for the actions on that content item.{% endtrans %}</p>
            {{ pageLevelActions }}
            <div id="widgets" class="container-fluid"></div>
            {#
                <hr />
                <pre id="debugSavedData" cols="100" rows="10" readonly="readonly"></pre>
            #}
            {{ pageLevelActions }}
            <div id="widgetDimensions" data-width="{{ widgetDimensions.width }}" data-minwidth="{{ widgetDimensions.minWidth }}" data-height="{{ widgetDimensions.height }}" class="d-none"></div>
        </div>
        <div id="wysiwygEditor" data-default="{{ getModVar('ZikulaScribiteModule', 'DefaultEditor', '') }}" class="d-none"></div>
        <div id="sectionStylesContainer" class="d-none">
            <div class="form">
                <fieldset>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">{% trans from 'messages' %}Styling classes{% endtrans %}</label>
                        <div class="col-md-9">
                            <select multiple="multiple" class="form-control">
                                {% for label, className in sectionStyles %}
                                    <option value="{{ className|e('html_attr') }}">{{ label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-9 offset-md-3">
                            <button class="btn btn-primary">{% trans from 'messages' %}OK{% endtrans %}</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div id="contentItemEditingModal" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnSaveContent" class="btn btn-success"><i class="fas fa-save"></i> {% trans from 'messages' %}Save{% endtrans %}</button>
                    <button type="button" id="btnDeleteContent" class="btn btn-danger"><i class="fas fa-trash-alt"></i> {% trans from 'messages' %}Delete{% endtrans %}</button>
                    <button type="button" id="btnCancelContent" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> {% trans from 'messages' %}Cancel{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
    <div id="paletteModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="fas fa-plus"></i> {% trans %}Add element{% endtrans %}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'Close'|trans({}, 'messages')|e('html_attr') }}"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    {{ include('@ZikulaContentModule/Page/palette.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    {# required for dynamic activation of Scribite #}
    {% set hooks = notifyDisplayHooks(eventName='zikulacontentmodule.ui_hooks.contentitems.form_edit', id=null, outputAsArray=true) %}
    {% if hooks is iterable and hooks|length > 0 %}
    <div class="d-none">
        {% for area, hook in hooks %}
            <div class="z-displayhook" data-area="{{ area|e('html_attr') }}">{{ hook|raw }}</div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
{% block footer %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@ZikulaContentModule:js/ZikulaContentModule.Validation.js'), 98) }}
    {{ pageAddAsset('javascript', zasset('@ZikulaContentModule:js/ZikulaContentModule.EditFunctions.js'), 99) }}
    {{ pageAddAsset('stylesheet', zasset('@ZikulaContentModule:js/vendor/gridstack.js/gridstack.min.css'), 111) }}
    {{ pageAddAsset('javascript', zasset('@ZikulaContentModule:js/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js'), 100) }}
    {{ pageAddAsset('javascript', zasset('@ZikulaContentModule:js/vendor/gridstack.js/gridstack.min.js'), 111) }}
    {{ pageAddAsset('javascript', zasset('@ZikulaContentModule:js/vendor/gridstack.js/gridstack.jQueryUI.min.js'), 112) }}
    {{ pageAddAsset('stylesheet', zasset('@ZikulaContentModule:css/pageedit.css'), 130) }}
    {{ pageAddAsset('javascript', zasset('@ZikulaContentModule:js/ZikulaContentModule.PageEditing.js'), 130) }}
    {% set customScript %}
        <script>
        /* <![CDATA[ */
            var pageId = {{ page.id }};
            {% set processedItemIds = [] %}
            {% if page.layout is iterable and page.layout|length > 0 %}
                var widgetData = {{ page.layout|json_encode|raw }};
                {% for section in page.layout|filter(s => s.widgets|default and s.widgets is iterable and s.widgets|length > 0) %}
                    {% for widget in section.widgets %}
                        {% for item in page.contentItems|filter(i => i.id == widget.id) %}
                            {% set processedItemIds = processedItemIds|merge([item.id]) %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% else %}
                var widgetData = [
                    {
                        id: 'section1', stylingClasses: '', widgets: []
                    }
                ];
            {% endif %}
            var orphanData = [];
            {% if processedItemIds|length < page.contentItems|length %}
                {# there are elements which are not included in page layout information yet, so we append them at the end #}
                {% for contentItem in page.contentItems|filter(c => c.id not in processedItemIds) %}
                    orphanData.push({{ contentItem.id }});
                {% endfor %}
            {% endif %}

            {# gridstack.js reference docs: https://github.com/gridstack/gridstack.js/tree/develop/doc #}
            var gridOptions = {
                acceptWidgets: true,
                alwaysShowResizeHandle: /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent),
                animate: true,
                placeholderText: '<img src="{{ asset('bundles/core/images/admin.png') }}" alt="Zikula" width="48" height="48" />',
                resizable: {
                    handles: 'e, w'
                },
                draggable: {
                    cursor: 'move',
                    scroll: true
                }
            };
        /* ]]> */
        </script>
    {% endset %}
    {{ pageAddAsset('footer', customScript) }}
{% endblock %}
