{# purpose of this template: translation wizard #}
{% extends routeArea == 'admin' ? '@ZikulaContentModule/adminBase.html.twig' : '@ZikulaContentModule/base.html.twig' %}
{% trans_default_domain 'page' %}
{% block title %}{{ page|zikulacontentmodule_formattedTitle|default('Page'|trans) }} - {% trans %}Translate{% endtrans %}{% endblock %}
{% block admin_page_icon 'language' %}
{% block content %}
    {% set currentLocale = app.request.locale|default('en') %}
    {% set yandexApiKey = getModVar('ZikulaContentModule', 'yandexTranslateApiKey', '') %}
    {{ zikulacontentmodule_getPagePath(page, false) }}
    <div class="zikulacontentmodule-page zikulacontentmodule-translate">
        {% form_theme form with [
            '@ZikulaContentModule/Form/bootstrap_4.html.twig',
            '@ZikulaFormExtension/Form/form_div_layout.html.twig'
        ] %}
        {{ form_start(form, {attr: {id: 'pageTranslateForm', class: 'zikulacontent-translate-form'}}) }}
        {{ form_errors(form) }}
        {% set pageFields = ['title', 'metaDescription', 'optionalString1', 'optionalString2', 'optionalText', 'slug'] %}
        <div class="row">
            <div class="col-md-6">
                <h4>{{ 'Step %step% of %amount%'|trans({'%step%': currentStep, '%amount%': amountOfSteps}, 'messages') }} - {% if currentStep == 1 %}{% trans %}General page data{% endtrans %}{% else %}{% for item in translationInfo.items|filter(i => i.entity.id == translationInfo.currentContentId) %}{{ item.title }}{% endfor %}{% endif %}</h4>
            </div>
            <div class="col-md-6">
                <div class="form-row">
                    <label for="translationStep" class="col-md-6 col-form-label">{% trans from 'messages' %}Jump to element:{% endtrans %}</label>
                    <div class="col-md-6">
                        <select id="translationStep" class="form-control">
                            <option value="0">1. {% trans %}General page data{% endtrans %}</option>
                            {% for item in translationInfo.items %}
                                <option value="{{ item.entity.id }}" title="{{ item.title|e('html_attr') }}"{{ item.entity.id == translationInfo.currentContentId ? ' selected="selected"' : '' }}>{{ loop.index + 1 }}. {{ item.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <label for="sourceLanguage" class="col-md-6 col-form-label">{% trans %}Switch source language:{% endtrans %}</label>
                    <div class="col-md-6">
                        <select id="sourceLanguage" class="form-control">
                            {% for language in localesWithExistingData %}
                                <option value="{{ language }}"{{ language == currentLocale ? ' selected="selected"' : '' }}>{{ language|language_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <br />
        {% for language in localesWithExistingData %}
            <fieldset id="sourceContent{{ language }}" class="source-section{{ language == currentLocale ? '' : ' hidden' }}">
                <legend>{% trans %}Source content{% endtrans %} ({{ language|language_name }})</legend>
                {% if currentStep == 1 %}
                    {% for fieldName in pageFields|filter(f => form[f] is defined) %}
                        <div class="form-group row field-{{ fieldName|e('html_attr') }}">
                            <label class="col-md-3 col-form-label">{{ form[fieldName].vars.label }}</label>
                            <div class="col-md-9">
                                <div class="form-control-plaintext">{{ (language == currentLocale ? page[fieldName] : form['translations' ~ language][fieldName].vars.value)|raw }}</div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    {% if form.contentData is defined %}
                        {% for field in form.contentData %}
                            {% set fieldName = field.vars.name %}
                            {% if (language == currentLocale and contentItem.contentData[fieldName] is defined or language != currentLocale and form['translations' ~ language].contentData[fieldName].vars.value is defined) %}
                            <div class="form-group row field-{{ fieldName|e('html_attr') }}">
                                <label class="col-md-3 col-form-label">{{ form.contentData[fieldName].vars.label }}</label>
                                <div class="col-md-9">
                                    <div class="form-control-plaintext">{{ (language == currentLocale ? contentItem.contentData[fieldName] : form['translations' ~ language].contentData[fieldName].vars.value)|raw }}</div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% set fieldName = 'additionalSearchText' %}
                    <div class="form-group row field-{{ fieldName|e('html_attr') }}">
                        <label class="col-md-3 control-label">{{ form[fieldName].vars.label }}</label>
                        <div class="col-md-9">
                            <div class="form-control-plaintext">{{ (language == currentLocale ? contentItem[fieldName] : form['translations' ~ language][fieldName].vars.value)|raw }}</div>
                        </div>
                    </div>
                {% endif %}
            </fieldset>
        {% endfor %}
        <fieldset id="contentTranslateTarget">
            <legend>{% trans %}Target content{% endtrans %}</legend>
            <div class="zikula-bootstrap-tab-container">
                <ul class="{{ form.vars.id|lower }}-translation-locales nav nav-tabs" role="tablist">
                    {% for language in supportedLanguages %}
                        <li class="nav-item">
                            <a href="#" data-toggle="tab" data-target=".{{ form.vars.id|lower }}-translations-fields-{{ language }}" class="nav-link{% if language == currentLocale %} active{% endif %}">
                                {% if language != app.request.locale and not form[language].vars.valid %}
                                    <span class="badge badge-danger"><i class="fas fa-exclamation-triangle"></i> <span class="sr-only">{% trans from 'messages' %}Errors{% endtrans %}</span></span>
                                {% endif %}
                                {% set hasRequiredFields = currentStep == 1 and language in localesWithMandatoryFields %}
                                {% if hasRequiredFields %}<span class="required">{% endif %}{{ language|language_name }}{% if hasRequiredFields %}</span>{% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="{{ form.vars.id|lower }}-translation-fields tab-content">
                    {% for language in supportedLanguages %}
                        <div class="{{ form.vars.id|lower }}-translations-fields-{{ language }} tab-pane fade{% if language == currentLocale %} show active{% endif %}" data-language="{{ language }}">
                            <fieldset>
                                <legend>{{ language|language_name }}</legend>
                                {% if currentStep == 1 %}
                                    {% if language == currentLocale %}
                                        {% for fieldName in pageFields|filter(f => form[f] is defined) %}
                                            {{ form_row(form[fieldName]) }}
                                        {% endfor %}
                                    {% else %}
                                        {{ form_row(form['translations' ~ language]) }}
                                    {% endif %}
                                {% else %}
                                    {% if language == currentLocale %}
                                        {% if form.contentData is defined %}
                                            {% for field in form.contentData %}
                                                {{ form_row(form.contentData[field.vars.name]) }}
                                            {% endfor %}
                                        {% endif %}
                                        {{ form_row(form.additionalSearchText) }}
                                    {% else %}
                                        {% if form.contentData is defined %}
                                            {% for field in form.contentData %}
                                                {{ form_row(form['translations' ~ language].contentData[field.vars.name]) }}
                                            {% endfor %}
                                        {% endif %}
                                        {{ form_row(form['translations' ~ language].additionalSearchText) }}
                                    {% endif %}
                                {% endif %}
                            </fieldset>
                        </div>
                    {% endfor %}
                    {% if yandexApiKey != '' %}
                        <small class="form-text text-muted" style="padding-left: 15px">
                            Powered by <a href="https://translate.yandex.com/" target="_blank">Yandex.Translate</a>
                        </small>
                    {% endif %}
                </div>
            </div>
        </fieldset>
        <div class="form-group form-buttons row">
            <div class="col-md-9 offset-md-3">
                {% if currentStep > 1 %}
                    {{ form_widget(form.prev) }}
                {% endif %}
                {{ form_widget(form.next) }}
                {{ form_widget(form.skip) }}
                {{ form_widget(form.saveandquit) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    {% if currentStep > 1 and contentType.name|lower == 'html' %}
        {# required for dynamic activation of Scribite #}
        {% set hookId = currentStep > 1 ? contentItem.id : null %}
        {% set hooks = notifyDisplayHooks(eventName='zikulacontentmodule.ui_hooks.contentitems.form_edit', id=hookId, outputAsArray=true) %}
        {% if hooks is iterable and hooks|length > 0 %}
        <div class="hidden">
            {% for area, hook in hooks %}
                <div class="z-displayhook" data-area="{{ area|e('html_attr') }}">{{ hook|raw }}</div>
            {% endfor %}
        </div>
        {% endif %}
    {% endif %}
    <div id="jsParameters" class="hidden" data-selfroute="zikulacontentmodule_page_{{ routeArea }}translate" data-pageslug="{{ pageSlug|e('html_attr') }}" data-yandex="{{ yandexApiKey|e('html_attr') }}"></div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@ZikulaContentModule:js/ZikulaContentModule.PageTranslation.js'), 110) }}
{% endblock %}
