{# purpose of this template: pages list view #}
{% extends routeArea == 'admin' ? '@ZikulaContentModule/adminBase.html.twig' : '@ZikulaContentModule/base.html.twig' %}
{% block title %}{% set list = app.request.query.get('list', '') %}{% if own %}{{ 'My pages'|trans }}{% elseif routeArea == 'admin' %}{{ 'Pages list'|trans }}{% elseif list == 'complete' %}{{ 'Complete pages list'|trans }}{% elseif list == 'extended' %}{{ 'Extended pages list'|trans }}{% elseif list == 'categories' %}{{ 'Categories list'|trans }}{% else %}{{ 'Pages list'|trans }}{% endif %}{% endblock %}
{% block admin_page_icon 'list-alt' %}
{% block content %}
{% if routeArea == 'admin' %}
    <div class="zikulacontentmodule-page zikulacontentmodule-view">
        {% set viewActions = knp_menu_get('zikulaContentMenuViewActions', [], {objectType: 'page', area: routeArea}) %}
        {{ knp_menu_render(viewActions, {template: '@ZikulaMenuModule/Override/bootstrap_fontawesome.html.twig'}) }}

        {{ include('@ZikulaContentModule/Page/viewQuickNav.html.twig', {workflowStateFilter: false}) }}{# see template file for available options #}
        {% set countPageViews = getModVar('ZikulaContentModule', 'countPageViews', false) %}
        {% if routeArea == 'admin' %}
        <form action="{{ path('zikulacontentmodule_page_' ~ routeArea ~ 'handleselectedentries') }}" method="post" id="pagesViewForm">
            <div>
        {% endif %}
            <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-sm">
                <colgroup>
                    {% if routeArea == 'admin' %}
                        <col id="cSelect" />
                    {% endif %}
                    <col id="cItemActionsStart" />
                    {% if routeArea == 'admin' %}
                    <col id="cWorkflowState" />
                    {% endif %}
                    <col id="cTitle" />
                    {% if countPageViews %}
                        <col id="cViews" />
                    {% endif %}
                    <col id="cActive" />
                    {#<col id="cActiveFrom" />
                    <col id="cActiveTo" />#}
                    <col id="cInMenu" />
                    <col id="cUpdatedDate" />
                    <col id="cCurrentVersion" />
                    <col id="cCategory" />
                </colgroup>
                <thead>
                <tr>
                    {% if routeArea == 'admin' %}
                        <th id="hSelect" scope="col" class="text-center">
                            <input type="checkbox" class="zikulacontent-mass-toggle" />
                        </th>
                    {% endif %}
                    <th id="hItemActionsStart" scope="col" class="">{% trans %}Actions{% endtrans %}</th>
                    {% if routeArea == 'admin' %}
                    <th id="hWorkflowState" scope="col" class="text-left">
                        <a href="{{ sort.workflowState.url }}" title="{{ 'Sort by %fieldName%'|trans({'%fieldName%': 'state'})|e('html_attr') }}" class="{{ sort.workflowState.class }}">{% trans %}State{% endtrans %}</a>
                    </th>
                    {% endif %}
                    <th id="hTitle" scope="col" class="text-left">
                        <a href="{{ sort.title.url }}" title="{{ 'Sort by %fieldName%'|trans({'%fieldName%': 'title'})|e('html_attr') }}" class="{{ sort.title.class }}">{% trans %}Title{% endtrans %}</a>
                    </th>
                    {% if countPageViews %}
                        <th id="hViews" scope="col" class="text-right">
                            <a href="{{ sort.views.url }}" title="{{ 'Sort by %fieldName%'|trans({'%fieldName%': 'views'})|e('html_attr') }}" class="{{ sort.views.class }}">{% trans %}Views{% endtrans %}</a>
                        </th>
                    {% endif %}
                    <th id="hActive" scope="col" class="text-center">
                        <a href="{{ sort.active.url }}" title="{{ 'Sort by %fieldName%'|trans({'%fieldName%': 'active'})|e('html_attr') }}" class="{{ sort.active.class }}">{% trans %}Active{% endtrans %}</a>
                    </th>
                    {#<th id="hActiveFrom" scope="col" class="text-left">
                        <a href="{{ sort.activeFrom.url }}" title="{{ 'Sort by %fieldName%'|trans({'%fieldName%': 'active from'})|e('html_attr') }}" class="{{ sort.activeFrom.class }}">{% trans %}Active from{% endtrans %}</a>
                    </th>
                    <th id="hActiveTo" scope="col" class="text-left">
                        <a href="{{ sort.activeTo.url }}" title="{{ 'Sort by %fieldName%'|trans({'%fieldName%': 'active to'})|e('html_attr') }}" class="{{ sort.activeTo.class }}">{% trans %}Active to{% endtrans %}</a>
                    </th>#}
                    <th id="hInMenu" scope="col" class="text-center">
                        <a href="{{ sort.inMenu.url }}" title="{{ 'Sort by %fieldName%'|trans({'%fieldName%': 'in menu'})|e('html_attr') }}" class="{{ sort.inMenu.class }}">{% trans %}In menu{% endtrans %}</a>
                    </th>
                    <th id="hUpdatedDate" scope="col" class="text-left">
                        <a href="{{ sort.updatedDate.url }}" title="{{ 'Sort by %fieldName%'|trans({'%fieldName%': 'updated date'})|e('html_attr') }}" class="{{ sort.updatedDate.class }}">{% trans %}Updated date{% endtrans %}</a>
                    </th>
                    <th id="hCurrentVersion" scope="col" class="text-right">
                        <a href="{{ sort.currentVersion.url }}" title="{{ 'Sort by %fieldName%'|trans({'%fieldName%': 'current version'})|e('html_attr') }}" class="{{ sort.currentVersion.class }}">{% trans %}Current version{% endtrans %}</a>
                    </th>
                    <th id="hCategory" scope="col" class="text-left">
                        {% trans %}Category{% endtrans %}
                    </th>
                </tr>
                </thead>
                <tbody>
            
            {% for page in items %}
                <tr>
                    {% if routeArea == 'admin' %}
                        <td headers="hSelect" class="text-center">
                            <input type="checkbox" name="items[]" value="{{ page.getKey() }}" class="zikulacontent-toggle-checkbox" />
                        </td>
                    {% endif %}
                    <td id="itemActions{{ page.getKey() }}Start" headers="hItemActionsStart" class="actions">
                        {% set itemActions = knp_menu_get('zikulaContentMenuItemActions', [], {entity: page, area: routeArea, context: 'view'}) %}
                        <div class="dropdown item-actions">
                            <a id="itemActions{{ page.getKey() }}DropDownToggleStart" role="button" data-toggle="dropdown" href="javascript:void(0);" class="d-none dropdown-toggle"><i class="fas fa-tasks"></i></a>
                            {{ knp_menu_render(itemActions, {template: '@ZikulaMenuModule/Override/bootstrap_fontawesome.html.twig'}) }}
                        </div>
                    </td>
                    {% if routeArea == 'admin' %}<td headers="hWorkflowState" class="text-left nowrap">
                        {{ page.workflowState|zikulacontentmodule_objectState }}
                    </td>
                    {% endif %}<td headers="hTitle" class="text-left">
                        <a href="{{ path('zikulacontentmodule_page_' ~ routeArea ~ 'display', {'slug': page.slug}) }}" title="{{ 'View detail page'|trans|e('html_attr') }}">{{ page.title|notifyFilters('zikulacontentmodule.filterhook.pages')|safeHtml }}</a>
                    </td>
                    {% if countPageViews %}
                        <td headers="hViews" class="text-right">
                            {{ page.views }}
                        </td>
                    {% endif %}
                    <td headers="hActive" class="text-center">
                        {% set itemId = page.getKey() %}
                        <a id="toggleActive{{ itemId|e('html_attr') }}" href="javascript:void(0);" class="zikulacontent-ajax-toggle d-none" data-object-type="page" data-field-name="active" data-item-id="{{ itemId|e('html_attr') }}">
                            <i class="fas fa-check text-success{% if not page.active %} d-none{% endif %}" id="yesActive{{ itemId|e('html_attr') }}" title="{{ 'This setting is enabled. Click here to disable it.'|trans|e('html_attr') }}">&nbsp;<span class="font-weight-normal">{% trans %}Active{% endtrans %}</span></i>
                            <i class="fas fa-times text-danger{% if page.active %} d-none{% endif %}" id="noActive{{ itemId|e('html_attr') }}" title="{{ 'This setting is disabled. Click here to enable it.'|trans|e('html_attr') }}">&nbsp;<span class="font-weight-normal">{% trans %}Inactive{% endtrans %}</span></i>
                        </a>
                        <noscript><div id="noscriptActive{{ itemId|e('html_attr') }}">
                            {% if page.active %}
                                <i class="fas fa-check text-success" title="{{ 'Yes'|trans|e('html_attr') }}"></i>
                            {% else %}
                                <i class="fas fa-times text-danger" title="{{ 'No'|trans|e('html_attr') }}"></i>
                            {% endif %}
                        </div></noscript>
                        {% if page.activeFrom is not empty %}
                            <br />{{ 'only from %date'|trans({'%date': page.activeFrom|format_datetime('short', 'short')}) }}
                        {% endif %}
                        {% if page.activeTo is not empty %}
                            <br />{{ 'only until %date'|trans({'%date': page.activeTo|format_datetime('short', 'short')}) }}
                        {% endif %}
                    </td>
                    {#<td headers="hActiveFrom" class="text-left">
                        {% if page.activeFrom is not empty %}
                            {{ page.activeFrom|format_datetime('medium', 'short') }}
                        {% endif %}
                    </td>
                    <td headers="hActiveTo" class="text-left">
                        {% if page.activeTo is not empty %}
                            {{ page.activeTo|format_datetime('medium', 'short') }}
                        {% endif %}
                    </td>#}
                    <td headers="hInMenu" class="text-center">
                        {% set itemId = page.getKey() %}
                        <a id="toggleInMenu{{ itemId|e('html_attr') }}" href="javascript:void(0);" class="zikulacontent-ajax-toggle d-none" data-object-type="page" data-field-name="inMenu" data-item-id="{{ itemId|e('html_attr') }}">
                            <i class="fas fa-check text-success{% if not page.inMenu %} d-none{% endif %}" id="yesInMenu{{ itemId|e('html_attr') }}" title="{{ 'This setting is enabled. Click here to disable it.'|trans|e('html_attr') }}">&nbsp;<span class="font-weight-normal">{% trans %}In{% endtrans %}</span></i>
                            <i class="fas fa-times text-danger{% if page.inMenu %} d-none{% endif %}" id="noInMenu{{ itemId|e('html_attr') }}" title="{{ 'This setting is disabled. Click here to enable it.'|trans|e('html_attr') }}">&nbsp;<span class="font-weight-normal">{% trans %}Out{% endtrans %}</span></i>
                        </a>
                        <noscript><div id="noscriptInMenu{{ itemId|e('html_attr') }}">
                            {% if page.inMenu %}
                                <i class="fas fa-check text-success" title="{{ 'Yes'|trans|e('html_attr') }}"></i>
                            {% else %}
                                <i class="fas fa-times text-danger" title="{{ 'No'|trans|e('html_attr') }}"></i>
                            {% endif %}
                        </div></noscript>
                    </td>
                    <td headers="hCurrentVersion" class="text-left">
                        {% if page.updatedBy|default and page.updatedBy.uid > 0 %}
                            {% set profileLink = page.updatedBy.uid|profileLinkByUserId %}
                            {{ 'on %date% by %user%'|trans({'%date%': page.updatedDate|format_date('short'), '%user%': profileLink})|raw }}
                        {% else %}
                            {{ 'on %date%'|trans({'%date%': page.updatedDate|format_date('short')}) }}
                        {% endif %}
                    </td>
                    <td headers="hCurrentVersion" class="text-right">
                        {{ page.currentVersion }}
                    </td>
                    <td headers="hCategory" class="text-left">
                        {% for catMapping in page.categories %}
                            {% if catMapping.category.icon %}<i class="fa-fw {{ catMapping.category.icon|e('html_attr') }}"></i> {% endif %}{{ catMapping.category.display_name[app.request.locale]|default(catMapping.category.name) }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% else %}
                <tr class="table-info">
                    <td colspan="{% if routeArea == 'admin' %}{{ countPageViews ? 10 : 9 }}{% else %}{{ countPageViews ? 8 : 7 }}{% endif %}" class="text-center">
                {% trans %}No pages found.{% endtrans %}
                  </td>
                </tr>
            {% endfor %}
            
                </tbody>
            </table>
            </div>
            
            {% if all != 1 and pager|default %}
                {{ pager({rowcount: pager.amountOfItems, limit: pager.itemsPerPage, display: 'page', route: 'zikulacontentmodule_page_' ~ routeArea ~ 'view'}) }}
            {% endif %}
        {% if routeArea == 'admin' %}
                <fieldset class="my-3 pt-3">
                    <div class="row">
                        <label for="zikulaContentModuleAction" class="col-md-3 col-form-label">{% trans %}With selected pages{% endtrans %}</label>
                        <div class="col-md-6">
                            <select id="zikulaContentModuleAction" name="action" class="form-control form-control-sm">
                                <option value="">{% trans %}Choose action{% endtrans %}</option>
                                <option value="delete" title="{{ 'Delete content permanently.'|trans|e('html_attr') }}">{% trans %}Delete{% endtrans %}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input type="submit" value="{{ 'Submit'|trans|e('html_attr') }}" class="btn btn-secondary btn-sm" />
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
        {% endif %}

        {{ block('display_hooks') }}
    </div>
{% else %}{# user area #}
    {% set list = app.request.query.get('list', '') %}
    <div class="zikulacontentmodule-page zikulacontentmodule-view list-{{ list|default('simple') }}">
        {% if list != 'categories' %}
            {% if items|length > 0 %}
                {% if list not in ['extended', 'complete', 'categories'] %}
                    <ul>
                        {% for page in items %}
                            <li><a href="{{ path('zikulacontentmodule_page_display', {slug: page.slug}) }}" title="{{ page.title|e('html_attr') }}">{{ page.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% elseif list == 'extended' %}
                    {% for page in items %}
                        <h3><a href="{{ path('zikulacontentmodule_page_display', {slug: page.slug}) }}" title="{{ page.title|e('html_attr') }}">{{ page.title }}</a></h3>
                        {{ include('@ZikulaContentModule/Page/display.html.twig', {inList: true, list: list}) }}
                        <p class="content-readmore"><a href="{{ path('zikulacontentmodule_page_display', {slug: page.slug}) }}" title="{{ page.title|e('html_attr') }}"><i class="fas fa-long-arrow-alt-right"></i> {% trans %}View full page{% endtrans %}</a></p>
                    {% endfor %}
                {% elseif list == 'complete' %}
                    {% for page in items %}
                        {{ include('@ZikulaContentModule/Page/display.html.twig', {inList: true, list: list}) }}
                        <p class="content-readmore"><a href="{{ path('zikulacontentmodule_page_display', {slug: page.slug}) }}" title="{{ page.title|e('html_attr') }}"><i class="fas fa-long-arrow-alt-right"></i> {% trans %}View full page{% endtrans %}</a></p>
                        {% if not loop.last %}
                            <hr />
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if all != 1 and pager|default %}
                    {{ pager({rowcount: pager.amountOfItems, limit: pager.itemsPerPage, display: 'page', route: 'zikulacontentmodule_page_' ~ routeArea ~ 'view'}) }}
                {% endif %}
            {% else %}
                <p>{% trans %}No pages found.{% endtrans %}</p>
            {% endif %}
        {% elseif list == 'categories' %}
            <h3>{{ 'Welcome to the contents for %sitename%'|trans({'%sitename%': getModVar('ZConfig', 'sitename')}) }}</h3>
            {% set categoryInfoPerRegistry = zikulacontentmodule_categoryInfo() %}
            {% if categoryInfoPerRegistry|length > 0 %}
                {% for registryLabel, categoryInfo in categoryInfoPerRegistry %}
                    <h4>{{ registryLabel }}</h4>
                    {% set categories = categoryInfo.categories %}
                    {% if categories|length > 0 %}
                        {% set pageCounts = categoryInfo.pageCounts %}
                        <p>{% trans %}The available categories:{% endtrans %}</p>
                        <ul>
                            {% for category in categories %}
                                {% set categoryName = category.display_name[app.request.locale]|default(category.name) %}
                                {% set amountOfPages = pageCounts[category.id]|default(0) %}
                                <li><a href="{{ path('zikulacontentmodule_page_view', {catId: category.id}) }}" title="{{ categoryName|e('html_attr') }}">{% if category.icon %}<i class="fa-fw {{ category.icon|e('html_attr') }}"></i> {% endif %}{{ categoryName }}</a> ('{0} No pages|{1} One page|]1,Inf[ %amount% pages'|trans({'%amount%': amountOfPages, '%count%': amountOfPages}))</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>{% trans %}No categories found.{% endtrans %}</p>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>{% trans %}No categories found.{% endtrans %}</p>
            {% endif %}
        {% endif %}
    </div>
{% endif %}
{% endblock %}
{% block display_hooks %}
    {# here you can activate calling display hooks for the view page if you need it #}
    {# % if routeArea != 'admin' %}
        {% set hooks = notifyDisplayHooks(eventName='zikulacontentmodule.ui_hooks.pages.display_view', urlObject=currentUrlObject, outputAsArray=true) %}
        {% if hooks is iterable and hooks|length > 0 %}
            {% for area, hook in hooks %}
                <div class="z-displayhook" data-area="{{ area|e('html_attr') }}">{{ hook|raw }}</div>
            {% endfor %}
        {% endif %}
    {% endif % #}
{% endblock %}
