{# purpose of this template: edit a leaflet element #}
{% trans_default_domain 'contentTypes' %}
<p class="alert alert-info">{% trans %}Select a geographical position either by clicking on the map or writing the position (latitude and longitude) directly. You can drag the map with your mouse, and double-click to zoom and select position.{% endtrans %}</p>
<div class="content-leaflet">
    <div id="leafletmap" class="map"></div>
</div>
{{ form_row(form.latitude) }}
{{ form_row(form.longitude) }}
{{ form_row(form.zoom) }}
{{ form_row(form.height) }}
{{ form_row(form.text) }}
{{ form_row(form.tileLayerUrl) }}
{{ form_row(form.tileLayerAttribution) }}
